<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ToZDCJWebServiceImplServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.6.162:3080/JINGYE-LES/webservice/toZDCJWebService"
                binding="basicHttpBinding" bindingConfiguration="ToZDCJWebServiceImplServiceSoapBinding"
                contract="ServiceReference1.ToZDCJWebService" name="ToZDCJWebServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>